.App {
  text-align: center;
}
.Form {
  display: flex;
  justify-content: space-between;
}
.AddProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  align-items: center;
}
