.App {
  text-align: center;
}
.Form {
  display: flex;
  justify-content: space-between;
  flex: 2;
  align-items: flex-end;
}
.productviewing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AddProduct {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30vw;
  align-items: center;
}

.ViewProducts {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
.individualProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  flex: 1;
  margin: 10px;
  border: 2px solid black;
}
